# Environment Variables — Backend
# Copy this file to .env and fill in your values

PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=mongodb+srv://adminUser:<dbAdminPassword>@cluster0.esv2fnj.mongodb.net/taskmanagement?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret (use a long, random string in production)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# CORS Origin (frontend URL)
CORS_ORIGIN=http://localhost:5173
